img{
  width: 500px;
  margin-top: 100px;
  margin-left: 200px;
  margin-bottom: 100px;
}

.flip{
  display: flex;
}

.head img{
  width: 1450px;
  margin: -20px;
}

h1{
  font-family: arial;
  font-size: 35px;
  text-align: center;
  color: royalblue;
  margin-bottom: 300px;
}

p{
  font-family: arial;
  font-size: 18px;
  color: royalblue;
  margin-left: 50px;
  margin-top: 150px;
  margin-right: 250px;
  line-height: 30px;
  letter-spacing: 3.5px;
}